*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.module_top, .module_bottom{
  visibility: hidden;
}

td {
  padding: 10px;
  width: 13vw;
}

.module_content img{
  min-width: 70px;
}

.module_content h2{
  font-size: 30px;
}